BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  BeforeCatch: true
AlwaysBreakAfterReturnType: All
SpacesBeforeTrailingComments: 2
BreakAfterReturnType: Automatic
BreakConstructorInitializers: AfterColon
